{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    {{ languages.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for language in languages.info %}
    <li>
      {{ language.idiom }}
      <!--<span class="lang-desc">({{ language.level }})</span>-->
      <div class="level-bar">
        Lu <span class="level-bar-inner" data-level="{{ language.level.reading }}" />
        Parlé <span class="level-bar-inner" data-level="{{ language.level.speaking }}" />
        Écrit <span class="level-bar-inner" data-level="{{ language.level.writing }}" />
      </div><!--//level-bar-->
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
